---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Khémis Chenni" description="À propos de moi, mon parcours et mes projets">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi"
				tagline="Lisez en-dessous pour en apprendre plus à propos de moi."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Description</h2>
				<div class="content">
					<p>
						Je m'appelle Khémis Chenni, je suis <strong>développeur indépendant</strong> en activité depuis <strong>Septembre 2023.</strong>
						Passionné par les <strong>technologies du développement web et mobile</strong> j'ai débuté mes études par un <strong>baccalauréat STMG option SIG</strong>. 
					</p><br>
					<p>
						Je poursuis mes études en <strong>BTS SIO spécialité SLAM</strong>.</br> Grâce à ces études j'ai pu <strong>approfondir mes connaissances et compétences en développement Web</strong>, en <strong>Bases de Données</strong> et apprendre le <strong>développement Mobile</strong>. 
						Lors de ma dernière année j'ai fais mes <strong>premières expériences en entreprise</strong>, notamment dans une agence de communication située à Vienne dans l'Isère où j'ai découvert le <strong>référencement naturel</strong> aussi appelé <strong>SEO</strong>.
					</p></br>
					<p>
						En parallèle j'effectue une <strong>veille technologique</strong> tout au long de ma dernière année d'étude sur le <strong>SDK Flutter</strong> et le <strong>framework JS React et React Native</strong> pour le <strong>Front-End</strong> et <strong>Symfony</strong> pour le <strong>Back-End</strong>.
					</p></br>
					<p>
						En 2023 je découvre les <strong>plateforme de No/Low-Code FlutterFlow</strong> et <strong>WebFlow</strong> et décide de baser mon activité professionnelle autour de ces outils facilitant grandement la <strong>productivité</strong> et <strong>économisant un temps précieux</strong> pour développer très rapidement <strong>mes futurs projets personnels et professionnels</strong>.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes/Formations</h2>
				<div class="content">
					<ul>
						<li>
							<strong>Baccalauréat STMG spécialité SIG</strong> obtenu avec <strong>mention assez bien</strong>.
						</li>
						<li>
							<strong>Formation FlutterFlow 100% en ligne</strong>.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences Techniques</h2>
				<div class="content">
					<ul>
						<li><strong>FlutterFlow</strong></li>
						<li><strong>Firebase/Supabase</strong></li>
						<li><strong>WebFlow</strong></li>
						<li><strong>PosgreSQL</strong></li>
						<li><strong>Flutter</strong></li>
						<li><strong>ReactJs/React Native</strong></li>
						<li><strong>Symfony</strong></li>
						<li><strong>Wordpress</strong></li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
