---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Flutter et React</h2>
		<p>Grâce à ses deux technologies je mets à profit mon savoir-faire et ma créativité pour construire des interfaces de qualité professionnelles.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>FlutterFlow</h2>
		<p>J'ai pu grâce à FlutterFlow augmenter considérablement ma productivité dans le développement d'applications web et mobiles professionnelles, je m'en sers également pour des projets personnels régulièrement.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="twitch-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Twitch</h2>
		<p>En parallèle de mes projets professionnels et personnels il m'arrive de faire des sessions de live-coding sur la célèbre plateforme de Streaming Twitch !</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
